# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# Logs
*.log
TEST/LOGS/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# JetBrains IDEs
.idea/

# Local environment variables
.env

# CSV logs
*.csv
